{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>SISTO</title>
{% endblock %}
{% block content %}

<div>
	<form id = 'subform'>
		{% csrf_token %}
		<input type="text" name="email" id="email">
		<input type="button" name="submit" value="submit" onclick="subscribe()">

	</form>
	<p id="message"></p>
</div>
<script> 
	  function getCookie(cname) {
    var name = cname + "=",
     decodedCookie = decodeURIComponent(document.cookie),
     
     ca = decodedCookie.split(';');
     console.log(ca);
     console.log(decodedCookie);
     for(var i = 0; i <ca.length; i++) {
       var c = ca[i];
       while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
       return c.substring(name.length, c.length);
    }
  }
  return "";
 }
function subscribe(){
	var csrftoken = getCookie('csrftoken');
	var emobj = document.getElementById('email');
	var email = emobj.value
	console.log(email);
	document.getElementById('subform').reset();


    var formdata = new FormData();
    formdata.append('email', email)
	var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "/subscribe/", true);
    xhttp.setRequestHeader('X-CSRFToken', csrftoken );
    
    xhttp.send(formdata);
    xhttp.onreadystatechange = function() {
   if (this.readyState == 4 && this.status == 200) {
	var dict = JSON.parse(this.responseText);
    document.getElementById("message").innerHTML =
    dict['message'];
}
}
} 

</script>


{% endblock %}