<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %} {% load static %} {% block title %}
    <title>C++ Software</title>
    {% endblock %} {% block content %}
    <head/>

    <body>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'css/css/bootstrap.css'%}">

        <body class="advancecsoftwarebackground">
            <div class="advancec">

                <img class="advancecimages" src="/media/advancecimg.png">
            </div>
            <br>
            <br>
            <div class="platformcard">
                <div class="card-body">
                    <h1 class="advancectext">C++ language Software - Windows,MacOS,Linux
                        <a class="adv-c-clink" href="https://www.tutorialspoint.com/cplusplus/index.htm">Download Here</a></span>

                    </h1>
                </div>
            </div>
            <hr>

            <section id="advanceclearning-platform">
                <h1 class="advancelearn-c">Platforms to Learn C++ Language</h1>
                <br>

                <div class="col">
                    <div class="platform-card advanceC-card1">
                        <h1 class="c-tutorials-point-text">Tutorial Point</h1>
                        <a class="advancec-link" href="https://www.w3schools.com/python/default.asp">Click Here</a></span>
                    </div>


                    <div class="platform-card advanceC-card2">
                        <h1 class="c-javatpoint-text">JavaTpoint</h1>

                        <a class="advancec-link" href="https://www.javatpoint.com/cpp-tutorial">Click Here</a></span>
                    </div>

                    <div class="platform-card advanceC-card3">
                        <h1 class="c-w3Schools-text">w3Schools</h1>

                        <a class="advancec-link" href="https://www.w3schools.com/cpp/">Click Here</a></span>
                    </div>

                    <div class="platform-card advanceC-card4">
                        <h1 class="Advance-c-programming-text">G F G</h1>

                        <a class="advancec-link" href="https://www.programiz.com/cpp-programming">Click Here</a></span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                </div>
        </body>
        <html/> {% endblock %}