<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %} {% load static %} {% block title %}
    <title>C Software</title>
    {% endblock %} {% block content %}
    <head/>

    <body>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'css/css/bootstrap.css'%}">

        <body class="csoftwarebackground">
            <div class="C">

                <img class="cimages" src="/media/cimg.png">
            </div>
            <br>

            <div class="platformcard">
                <div class="card-body">
                    <h1 class="ctext">C language Software - Windows,MacOS,Linux
                        <a class="clink" href="https://filehippo.com/download_turbo_c_/?ex=CORE-190.2"> Download </a>
                    </h1>
                </div>
            </div>
            <hr>
            <section id="clearning-platform">
                <h1 class="learn-c">Platforms to Learn C Language</h1>
                <br>

                <div class="col">
                    <div class="platform-card c-card1">
                        <h1 class="c-tutorials-point-text">Tutorial Point</h1>
                        <a class="c-link" href="https://www.tutorialspoint.com/cprogramming/index.htm">Click Here</a></span>
                    </div>


                    <div class="platform-card c-card2">
                        <h1 class="c-javatpoint-text">JavaTpoint</h1>

                        <a class="c-link" href="https://www.javatpoint.com/c-programming-language-tutorial">Click Here</a></span>

                    </div>

                    <div class="platform-card c-card3">
                        <h1 class="realpython-text">REAL PY</h1>

                        <a class="c-link" href="https://realpython.com/">Click Here</a></span>
                    </div>

                    <div class="platform-card c-card4">
                        <h1 class="w3Schools-text">w3Schools</h1>

                        <a class="c-link" href="https://www.w3schools.in/c-tutorial/">Click Here</a></span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                </div>
                <script src="{%static 'css/js/bootstrap.js'%}"></script>
        </body>
        <html/> {% endblock %}