<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %} {% load static %} {% block title %}
    <title> Contact </title>
    {% endblock %} {% block content %}
    <head/>

    <body>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'css/css/bootstrap.css'%}">

        <div class="Contact">

            <p class="info"> Hii This is Srinu Indukuri</p>

        </div>


        <script src="{%static 'css/js/bootstrap.js'%}"></script>
    </body>
    <html/> {% endblock %}