<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %} {% load static %} {% block title %}
    <title>Java Software</title>
    {% endblock %} {% block content %}
</head>

<body>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/css/bootstrap.css'%}">

    <div class="javasoftwarebackground">
        <br>
        <div class="java">
            <img class="javaimages" src="/media/javaimg.png" alt="">
        </div>

        <div class="platformcard">
            <div class="card-body">
                <h1 class="javatext">Java Software - Windows
                    <a class="j-link" href="https://www.python.org/downloads/windows/"> Download Here </a>

                    <h1 class="javatext">Java Software - Mac-OS
                        <a class="j-link" href="https://www.python.org/downloads/mac-osx/"> Download Here </a>

                        <h1 class="javatext"> Java Software - Linux/Ubuntu
                            <a class="j-link" href="https://www.python.org/downloads/source/"> Download Here </a>
                        </h1>
                    </h1>
                </h1>
            </div>
        </div>
        <hr>

        <section id="learning-platform-java">
            <h1 class="learn-java">Platforms to Learn Java</h1>

            <br>

            <div class="col">
                <div class="platform-card java-card1">
                    <h1 class="java-tutorialspoint-text">Tutorial Point</h1>
                    <a class="java-link" href="https://www.tutorialspoint.com/java/index.htm">Click Here</a></span>
                </div>


                <div class="platform-card java-card2">
                    <h1 class="java-w3schools-text">w3 Schools</h1>

                    <a class="java-link" href="https://www.w3schools.com/java/default.asp">Click Here</a></span>
                </div>

                <div class="platform-card java-card3">
                    <h1 class="learn-java-text">Learn Java</h1>

                    <a class="java-link" href="https://realpython.com/">Click Here</a></span>
                </div>

                <div class="platform-card java-card4">
                    <h1 class="java-tpoint-text">Java T-Point</h1>

                    <a class="java-link" href="https://www.javatpoint.com/java-tutorial">Click Here</a></span>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </div>
    </div>
    </section>
    <script src="{%static 'css/js/bootstrap.js'%}"></script>
</body>
<html/> {% endblock %}